body {
  color: aqua;
  background-color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.keskikohta {
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: center;
}

.paaotsikko {
  font-family: 'Trebuchet MS';
  font-style: none;
  padding-top: 20px;
}

.navbar a {
  color: white;
  padding: 7px 10px;
  margin: 3px;
  background-color: rgb(27, 24, 199);
  text-decoration: none;
  font-family: 'Segoe UI';
}

h1 {
  text-align: center;
}

.kampuskuva {
  float: left;
  width: 100%;
  max-width: 600px;
}
